::selection
{
	text-shadow:none;
}
::-moz-selection
{
	text-shadow:none;
}
/**
 * Base styles
 */
html
{
	height:100%;
}
body
{
	margin:0;
	height:100%;
	min-width:760px;
	font-family:Arial, sans-serif;
	font-size:16px;
}
a, a:visited
{
	text-decoration:none;
	color:inherit;
}
a:hover, a:active
{
	text-decoration:underline;
}
p
{
	margin:10px 0;
}
h1
{
	margin:15px 0 35px -2vw;
}
h2
{
	margin:10px 0 20px -2vw;
}
/**
 * Layout
 */
.part
{
	float:left;
	position:relative;
	min-height:100%;
}
/**
 * - Left part
 * - (Menu, title)
 */
#left-part
{
	width:20%;
	min-width:145px;
	background:#606459;
	text-align:right;
}
/**
 * - - Title
 */
#title-box
{
	overflow:hidden;
	display:inline-block;
	margin:40px 0 0 0;
}
#title-layout
{
	display:inline-block;
	width:120px;
	margin:0 2vw 0 0;
	text-align:right;
}
.title
{
	margin:0;
	font-size:64px;
	color:#e9e9e9;
}
.title-right
{
	z-index:-1;
	position:absolute;
}
/**
 * - - Logo
 */
#logo
{
	margin:40px 2vw 0 0;
	border:2px solid #e9e9e9;
	border-radius:4px;
	box-shadow:0 0 2px rgba(0, 0, 0, 0.2);
}
/**
 * - - Canvas
 */
#separation
{
	position:absolute;
	top:0;
	right:-10px;
}
/**
 * - - Text
 */
#left-part a
{
	text-decoration:none;
	color:#e9e9e9;
}
#left-part a:hover
{
	color:#f9f9f9;
}
#left-part p
{
	margin:10px 2vw 10px 0;
	text-shadow:0 0 1px rgba(0, 0, 0, 0.15);
	color:#e9e9e9;
}
#left-part h3
{
	margin:25px 2vw 5px 0;
	font-size:18px;
	color:#f9f9f9;
}
/**
 * - - Menu
 */
.menu
{
	margin:10px 2vw 30px 0;
	padding:0;
	list-style-type:none;
}
.menu li
{
	padding:1px 0;
}
/**
 * - Right part
 * - (Content)
 */
#right-part
{
	z-index:-2;
	overflow:hidden;
	width:80%;
	max-width:1024px;
	background:#e9e9e9;
	box-shadow:2px 0 2px #c9c9c9;
	text-shadow:0 0 1px #fcfcfc;
	color:#222222;
}
.top-margin
{
	margin:140px 0 0 0;
}
.banner
{
	width:100%;
}
.page
{
	display:none;
}
.block
{
	margin:40px 0 70px 6vw;
}
