::selection
{
	background:orange;
	text-shadow:none;
}
::-moz-selection
{
	background:orange;
	text-shadow:none;
}
/**
 * Base styles
 */
html
{
	height:100%;
}
body
{
	margin:0;
	height:100%;
	min-width:760px;
	font-family:Arial, sans-serif;
	font-size:0;
}
a, a:visited
{
	text-decoration:none;
	color:inherit;
}
a:hover, a:active
{
	text-decoration:underline;
}
p
{
	margin:10px 0;
}
h1
{
	margin:15px 0 35px -2vw;
}
h2
{
	margin:10px 0;
}
/**
 * Layout
 */
.part
{
	position:relative;
	display:inline-block;
	vertical-align:top;
	min-height:100%;
	font-size:16px;
}
/**
 * - Left part
 * - (Menu, title)
 */
#left-part
{
	z-index:2;
	width:20%;
	min-width:145px;
	text-align:right;
}
/**
 * - - Logo
 */
#logo
{
	margin:140px 2vw 0 0;
	border:2px solid #e9e9e9;
	border-radius:4px;
	box-shadow:0 0 2px rgba(0, 0, 0, 0.2);
}
/**
 * - - Canvas
 */
#canvas
{
	pointer-events:none;
	z-index:-1;
	position:absolute;
	top:0;
	right:-155px;
}
/**
 * - - Text
 */
#left-part a
{
	text-decoration:none;
	color:#e9e9e9;
}
#left-part a:hover
{
	color:#f9f9f9;
}
#left-part p
{
	margin:10px 2vw 10px 0;
	text-shadow:0 0 1px rgba(0, 0, 0, 0.15);
	color:#e9e9e9;
}
/**
 * - Right part
 * - (Content)
 */
#right-part
{
	overflow:hidden;
	width:75%;
	max-width:870px;
	background:#e9e9e9;
	text-shadow:0 0 1px #fafafa;
	color:#222222;
}
/**
 * - - Page content
 */
.page
{
	z-index:0;
	position:absolute;
	top:0;
	opacity:0;
	visibility:hidden;
	transition:opacity .2s ease-out,visibility 0s ease .2s;
}
.page.visible
{
	z-index:1;
	position:relative;
	opacity:1;
	visibility:visible;
	transition:opacity .17s ease-in-out,visibility 0s ease 0s;
}
/**
 * - - - Page banner
 */
.banner
{
	width:100%;
}
/**
 * - - - Page blocks
 */
.block
{
	margin:40px 0 70px 6vw;
}
.case-table
{
	width:100%;
	padding:120px 0 80px 0;
	text-align:center;
}
/**
 * - - - Case table content
 */
.case
{
	position:relative;
	display:inline-block;
	vertical-align:top;
	width:35%;
	min-width:190px;
	margin:12px 2%;
	padding:4px 0 10px 0;
	background:#ececec;
	box-shadow:0 0 1px #cccccc;
	transition:box-shadow .3s ease,opacity .4s ease;
}
.case:hover
{
	box-shadow:0 0 1px #aaaaaa;
}
.large
{
	width:74%;
	min-width:350px;
	margin:24px 0;
}
.big-center
{
	overflow:hidden;
	padding:0 0 30% 0;
}
.big-center img
{
	position:absolute;
	top:-9999px;
	right:-9999px;
	bottom:-9999px;
	left:-9999px;
	margin:auto;
}
.type
{
	position:absolute;
	right:0;
	bottom:0;
	padding:0 4px;
	background:#dddddd;
	border-top:1px solid #cccccc;
	border-left:1px solid #cccccc;
	font-size:12px;
	color:#777777;
}
.version
{
	position:absolute;
	top:0;
	left:0;
	padding:0 4px;
	background:#dddddd;
	border-right:1px solid #cccccc;
	border-bottom:1px solid #cccccc;
	font-size:12px;
	color:#777777;
}
